@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Inter:wght@100;200;600;700;900&family=Koulen&family=Markazi+Text:wght@400;500;600&family=Titan+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    color:white;
    min-height: 100vh;
    font-size:100%;
}

.cabecalho{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-block: 30px;
    text-decoration: none;
    border-bottom: 0.01px solid rgb(206, 183, 242) ;
}

.cabecalho-menu{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

.cabecalho-menu-item{
    color:rgb(135, 84, 218);
    font-family: 'Inter';
    font-weight: 400;
}

.conteudo-principal{

}


.logo-texto{
    font-family:'koulen';

}